@model IEnumerable<ProjectPRN222.Models.InspectionRecord>



<h1>Kết quả kiểm định</h1>

<div class="row mb-3">
    <div class="col-md-12">
        <form asp-action="Index" method="get" class="form-inline">
            <div class="form-group mx-sm-2 mb-2">
                <input type="text" name="PlateNumber" value="@ViewBag.PlateNumber" class="form-control" placeholder="Biển số xe" />
            </div>

            <div class="form-group mx-sm-2 mb-2">
                <select name="Result" class="form-control" asp-items="ViewBag.ResultList"></select>
            </div>

            <div class="form-group mx-sm-2 mb-2">
                <input type="date" name="FromDate" value="@ViewBag.FromDate" class="form-control" />
            </div>

            <div class="form-group mx-sm-2 mb-2">
                <input type="date" name="ToDate" value="@ViewBag.ToDate" class="form-control" />
            </div>

            <div class="form-group mx-sm-2 mb-2">
                <select name="StationId" class="form-control" asp-items="@ViewBag.StationId">
                    <option value="-1">-- Tất cả cơ sở --</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary mb-2">Tìm kiếm</button>
        </form>
    </div>
</div>



<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InspectionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Co2emission)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hcemission)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inspector)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Station)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InspectionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Co2emission)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hcemission)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inspector.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Station.Name)
            </td>
            <td>
                    @(item.Vehicle?.PlateNumber + " - " + item.Vehicle?.Owner?.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RecordId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RecordId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RecordId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
